
<!-- navigation##############################-->
<%= render "partials/navigation" %>

  <!---site-wrap###############################-->
  <div class="site-wrap">

    <!-- Content Section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>ABOUT</h1>
            <div class="about">
              <p>PicoJournal is under construction since the end of 2015. It is a one man hobby project, I only work on it fridays while simultaneously trying to learn Rails, so don't expect rapid changes ;)
                <br>The first idea of this came to me way earlier in 2011. The following video shares a similar idea, and helped me to stay motivated while constructing this website.</p>
            </div>
            <div class="faq">
              <h2>FAQ</h2>
              <strong>Q: Who are <a href="http://www.felixgellner.de" target="blank">you</a>?</strong>
              <p>A Computer Science student, trying to improve his web development skills with some awesome side projects.</p>
              <strong>Q: Why is this called PicoJournal?</strong>
              <p> Because the website is supposed to appeal to people who like the idea of journaling, but writing a page every day is just too much work for them. Also, Pico is a prefix denoting one trillionth, which is hopefully the amount of effort required
                to use PicoJournal in comparison to a traditional journal :)</p>
              <strong>Q: When will this site be officially completed?</strong>
              <p>I don't know. I plan for progress to be slow but steady.</p>
            </div>

            <h2>Inspiration</h2>
            <!--END FAQ-->
            <p>PicoJournal is partly inspired by a great ted talk from Cesar Kuriyama. So in the case I couldn't fully protray the idea of PicoJournal, this video might help :)</p>
            </br>
            <iframe width="720" height="480" src="http://www.youtube.com/embed/7uN4I1wEOXE" frameborder="0" allowfullscreen></iframe>


          </div>
        </div>
      </div>
    </section>
