  <div class="timeline-badge">
    <span class="timeline-balloon-date-day" style="display:block;"><%= date.strftime("%d") %></span>
    <span class="timeline-balloon-date-month"><%= date.strftime("%b") %></span>
  </div>
  <div class="timeline-panel">

    <div class="timeline-body">
      <div class="timeline-left">
      </div>
      <div class="timeline-content">

        <a href="/days/new?date=<%= date.strftime('%Y-%m-%d') %>" data-remote="true" id="new_day_ajax_<%= date.strftime('%Y-%m-%d') %>"><p class="day-text">Add This day</p></a>

        <p class="day-short-rating"></p>

      </div>
    </div>
  </div>
