/*******************/
/*RESETTING+GENERAL*/
/*******************/

* {
	margin: 0;
	padding: 0;


}

.background-landing-page{

	  	/* IE10 Consumer Preview */
	background-image: -ms-radial-gradient(center, circle closest-corner, #DF3037 0%, #E8124C 100%);
	/* Mozilla Firefox */
	background-image: -moz-radial-gradient(center, circle closest-corner, #DF3037 0%, #E8124C 100%);
	/* Opera */
	background-image: -o-radial-gradient(center, circle closest-corner, #DF3037 0%, #E8124C 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #DF3037), color-stop(1, #E8124C));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-radial-gradient(center, circle closest-corner, #DF3037 0%, #E8124C 100%);
	/* W3C Markup, IE10 Release Preview */
	background-image: radial-gradient(circle closest-corner at center, #DF3037 0%, #E8124C 100%);
}
.site-wrap {
	position: relative;
	margin: 0 10px; /*Platz für Knöpfe*/
	min-width: 768px;
	min-height: 100vh;
	text-align: center;
	/*border: 1px solid yellow;*/
	z-index: 3;

	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);

	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;

}

.content-wrap {
	position: relative;
	margin: 0 auto;
	min-height: 100vh;
	min-width: 768px;
	padding-top: 20px;
	/*border: 1px solid red;*/
	z-index: 3;

}

/* thanks to subtlepatterns.com */
.site-wrap-2{
	min-width: 768px;
	box-shadow: 0px -5px 5px #555;
	background: #ffffff url("../images/textures/dark_exa.png") repeat;
	padding:1px;
 }

/* unvisited link */
a:link {
}

/* visited link */
a:visited {
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
}



/*---------------*/
/* NAV BAR BEGIN */
/*---------------*/


/*the button*/
.menu-toggle{

}

.menu-toggle-symbol {
	float: left;
	color: #8A0808;
	text-decoration: none;
	margin-top: 0px;
	margin-left: 20px;
	font-size: 40px;
	height: 50px;
	width: 50px;
	background-size: contain;
	z-index: 10;

	-webkit-transition: all 0.3s ease-in;

}

.menu-toggle:hover {
	color: #050505;
	text-decoration: none;
}

.leftnavbar {
	position: fixed;
	height: 100%;
	width: 350px;
	top: -1px;
	left: 0px;
	background: -webkit-linear-gradient(right, rgba(240,240,240,1), rgba(240,240,240,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(240,240,240,1), rgba(240,240,240,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(240,240,240,1), rgba(240,240,240,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(240,240,240,1), rgba(240,240,240,1)); /* Standard syntax (must be last) */
	overflow: hidden;
	z-index: 10;
	border: none;
		border-right: 1px solid d6d6d6;

	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);

	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;

}

.leftnavbar h2 {
	padding-top: 0px;
	color: #8A0808;
	opacity: 0.95;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 80px;
	text-align: center;


}

.leftnavbar nav a {
	display: block;
	padding: 20px 80px;
	text-decoration: none;
	font-size: 20px;
	color: #777;
	border-bottom: 1px solid #000000;
	/*border-bottom: 1px solid #333;*/
}

.leftnavbar nav a:hover {
	background: -webkit-linear-gradient(right, rgba(221,221,221,0), rgba(221,221,221,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(221,221,221,0), rgba(221,221,221,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(221,221,221,0), rgba(221,221,221,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(221,221,221,0), rgba(221,221,221,1)); /* Standard syntax (must be last) */
	color: #8A0808;
	text-decoration: none;
}

/***********/
/* NAV END */
/***********/

/**************/
/* PROFILE BAR*/
/**************/

.profile-toggle {
	color: #8A0808;
	text-decoration: none;
	margin-top: 20px;
	margin-right: 20px;
	padding-top: 0px;
	font-size: 40px;
	height: 50px;
	width: 50px;
	float: right;
	background-size: contain;
	z-index: 10;

}

.profile-toggle:hover {
	color: #050505;
	text-decoration: none;
}

.profilebar {
	position: fixed;
	height: 100%;
	width: 300px;
	top: -1px;
	right: 0px;
	background: -webkit-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(200,200,200,0), rgba(200,200,200,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(200,200,200,0), rgba(200,200,200,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(200,200,200,0), rgba(200,200,200,1)); /* Standard syntax (must be last) */
	font-family: 'Charlemagne STD';
	overflow: hidden;
	opacity: 0.9;
	z-index: 10;

	-webkit-transform: translate(100%, 0);
	-moz-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);

	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;

}

.profilebar h2 {
	padding: 10px 0px;
	margin-bottom: 20px;
	color: #8A0808;
	text-align: center;
}

.profilebar nav a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	font-size: 20px;
	color: #8A0808;
	/*border-bottom: 1px solid #333;*/
}

.profilebar nav a:hover {
	background: -webkit-linear-gradient(left, rgba(221,221,221,0), rgba(221,221,221,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(221,221,221,0), rgba(221,221,221,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(221,221,221,0), rgba(221,221,221,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(221,221,221,0), rgba(221,221,221,1)); /* Standard syntax (must be last) */
	color: #8A0808;
	text-decoration: none;
}

/*****************/
/*PROFILE BAR END*/
/******************

/*********************/
/* ACTUAL SITE BEGIN */
/*********************/

h1{
	padding-top: 0px;
	color: #8A0808;
	opacity: 0.95;
	font-family: serif;
	font-style: normal;
	font-weight: 300;
	font-size: 100px;
	text-align: center;

	-webkit-transition: color 0.2s;

}


.description{
	margin: 0 auto;
	width: 768px;
}

.description > p{
	color: #111;
	font-size: 18px;
}

#signupform{
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 50px;
	width: 80%;
	min-width: 400px;
	text-align: center;
}

#signupform{
	-webkit-transition: border 0.2s;
}


/*für feedbacksymbole*/
.startleft{
	text-align: left;
	left:0;
}

.glyphicon-remove, .glyphicon-ok, .glyphicon-transfer, .glyphicon-send{
	padding-top: 5px;
}

#buttonRow{
	margin-top: 30px;
	margin-bottom: 10px;
	padding-left: 10%;
	padding-right: 10%;
}

.btn{
	border-radius: 0;
}

button:focus{
	outline: 0;
}

.btn:focus {
 	outline: none;
}

.btn:active {
	outline: none;
}

.mainButton{
	outline: 0;
	border-radius: 0;
}

.control-label{
	margin-right: 20px;
}

/************/
/* PROFILE  */
/************/
.profile{
	width: 100%;
	min-height: 300px;
}

.profile-left{
	float: left;
}

.profile-right{
	text-align: left;
}

/*************/
/*END PROFILE*/
/*************/



/************/
/* DAY ENTRY*/
/************/



#yourMonth{
	font-size: 40px;
	color: #000;
	padding-bottom: 20px;
}

.day-container{
	margin: 0px;
	/*border: 1px solid red;*/
}
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 0px;
}

.thumbnail img {
    width: 100%;
    position: relative;
}

.thumbnail .caption{
	padding: 0px;
}

.edit-button{
	position: absolute;
	float: right;
	top: 5px;
	right: 5px;
	z-index: 100;
	font-size: 20px;
	color: #8A0808;
	opacity: 0.5;
}

.edit-button:hover{
	opacity: 1;
	color: black;
}

.rating-stars{
	color: #F8E342;
	font-size: 20px;
}

#day-text{
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	margin: 0;
	margin-bottom: 10px;
}

/***************/
/*END DAY ENTRY*/
/***************/

footer{
	text-align: center;
	bottom: 0;
	position: relative;
	padding-bottom: 0px;
	color: #343434;
	z-index: 3000;
}

/***************/
/*ABOUT        */
/***************/

.about{
	padding-top: 30px;
	margin-bottom: 30px;
	display: block;
}

.faq{
	margin: 30px;
	float:none;
	text-align: center;
}

.faq > .panel-heading{
	font-size: 1.3em;
}

/***************/
/*END ABOUT    */
/***************/

/*********************/
/*BOOTSTRAP OVERWRITE*/
/*********************/


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  background-color: #EFDDCE;

}

.navbar-default{
	border-color: #EFDDCE;
}

.dropdown-menu{
	text-align: center;
}
