<!DOCTYPE html>
<html>
<head>
  <title>PicoJournal</title>
  <!--Hier kann man allgemeine scripte einbinden-->
</head>
<body>


<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>
